<h1>Step 2: Select Config & Options</h1>

<!-- Configurations Dropdown -->
<div>
  <label>Config:
    <select (change)="updateConfig($event)">
      <option value="">Choose...</option>
      <option *ngFor="let config of availableConfigs()" [value]="config.description">
        {{ config.description }}
      </option>
    </select>
  </label>
</div>

<!-- Display configuration details -->
<div *ngIf="selectedConfig()">
  <p>
    Range: {{ selectedConfig()?.range }} miles – 
    Max speed: {{ selectedConfig()?.speed }} mph – 
    Cost: {{ selectedConfig()?.price | currency }}
  </p>
</div>

<!-- Extra Options -->
<div>
  <div *ngIf="availableYokeSteeringWheel()">
    <label>
      Yoke Steering Wheel ($1,000):
      <input type="checkbox" 
             [checked]="yokeSteeringWheel()" 
             (change)="configurator.yokeSteeringWheel.set(!configurator.yokeSteeringWheel())">
    </label>
  </div>
  <div *ngIf="availableTowHitch()">
    <label>
      Tow Hitch Package ($1,000):
      <input type="checkbox" 
             [checked]="towHitch()" 
             (change)="configurator.towHitch.set(!configurator.towHitch())">
    </label>
  </div>
</div>
