<!-- <div class="button-group">
  <a href="/step1"><button routerLink="/step1">Step 1</button></a>
  <a href="/step2"><button routerLink="/step2">
    Step 2
  </button></a>
  <a href="/step3"><button routerLink="/step3">
    Step 3
  </button></a>
</div>
<app-step1 /> -->
<div class="button-group">
  <a href="/step1"><button routerLink="/step1">Step 1</button></a>
  <a href="/step2"><button routerLink="/step2">Step 2</button></a>
  <a href="/step3"><button routerLink="/step3">Step 3</button></a>
</div>

<router-outlet></router-outlet> 
